.container{
    margin: 0 auto;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    background-color:blue ;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.col{
    float: left;
    width: 33.3%;
    height: 550px;
}
.content:after{
    content: "";
    clear: both;
    display: block;
}
.footer{
    background-color: blue;
    padding: 20px;
    font-size: 20px;
    color: white;
    text-align: center;
}
@media (max-width:600px){
    .col{
        width: 100%;
    }
}