* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-image: url(https://1.bp.blogspot.com/-TslawDk_SuM/X475t7U6FgI/AAAAAAAAkYM/pDoh0Zrkfk4qxHx7yUGdwnpXJB2l5xQmwCNcBGAsYHQ/s0/62efced44bd2e4ebe770a3be903045ce.jpg);
    height: 1360px;
    width: 1190px;
    object-fit: cover;
}
.main {
    padding: 20px;
}
.buoi1 {
    padding: 10px;
    display: flex;
    gap: 30px;
    font-size: 30px;
}
.buoi1 li {
    list-style-type: none;
}
.buoi1 li a {
    color: white;
    text-decoration: none;
}
.main h{
    font-size: 50px;
    margin-left: 300px;
}